/* *{border: 1px solid red;} */

html, body{
    height: 100%;
    overflow: hidden;
}
#root{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

body{
    background-color: #a6a6a6;
    font-family: Poiret One,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "apps photo gd"
        "footer footer footer";
    grid-template-rows: 20vh 75vh 5vh;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
}

header {
    grid-area: header;
    display: grid;
    font-size: 5vmin;
    font-style: normal;
    line-height: 1.42857143;
    text-align: left;
    align-items: center;
    padding: 15px;
    color: #f2f2f2;
    margin: 0 10px 25px 10px;
    border-bottom: 1px solid #f2f2f2;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "button"
    "links";
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    position: relative;
    justify-items: center;
    margin-bottom: 15px;
} 

#photo {
    grid-area: photo;
}

#apps {
    grid-area: apps;
}

#gd {
    grid-area: gd;
}

img {
    /* background-color: transparent; */
    width: 70%;
    position: absolute;
}

button {
    display: grid;
    grid-area: button;
    position:relative;
    border: none;
    border-radius: 50%;
    width: 40%;
    height: auto;
    padding: 38%;
    margin-top: 10%;
    justify-items: center;
    align-items: center;
    background-color:#f2f2f2;
    box-shadow: 5px 5px 5px #2a2a2a;;
}

.dropdown_links {
    grid-row: links;
    display: none;
    position: relative;
    width: 100%;
    justify-items: center;
    align-content: center;
    overflow-y: scroll;
}

a {
    font-size: 3.5vmin;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    padding: 10px 15px;
}
/*#region*/ /* hovering */
    /*#region*/ /* button hover and click styles */
    .wrapper:focus-within button{ 
        opacity: 1.0;
        box-shadow: none;
        width: 20%;
        height: auto;
        padding: 20%;
        margin: auto;
    }

    .wrapper:focus-within  .dropdown_links {
        display: grid;
    }

    button:hover, img:hover {
        opacity: 0.8;
    }

    button:focus img {
        opacity: 1.0;
    } 

    a:hover{
        color:#e65c00;
    }
    
    a:active a:visited{
        color:#2a2a2a;
    }
    
    /* .dropdown_links a:target ~ button {
        opacity: 1.0px;
        box-shadow: none;
        width: 20%;
        height: auto;
        padding: 20%;
        margin: auto;
    } */

    /*#endregion*/
/*#endregion*/