/* *{border: 1px solid red;} */

html, body{
    height: 100%;
    overflow: hidden;
}
#root{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

body{
    background-color: #b3b3b3;
    font-family: Poiret One,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "photo apps gd"
        "footer footer footer";
    grid-template-rows: 25vh 65vh 15vh;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
}

header {
    grid-area: header;
    display: grid;
    font-size: 36px;
    font-style: normal;
    line-height: 1.42857143;
    text-align: left;
    padding: 15px;
    color: #f2f2f2;
    border-bottom: 1px solid  #f2f2f2;
    margin-bottom: 25px;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "button"
    "links";
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    text-align: center;
    margin-bottom: 15px;
} 

#photo {
    grid-area: photo;
}

#apps {
    grid-area: apps;
}

#gd {
    grid-area: gd;
}

button {
    grid-area: button;
    border: none;
    background-color:#f2f2f2;
    color: #b3b3b3;
    font-family: Poiret One,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 30px;
}

.dropdown_links {
    grid-row: links;
    display: grid;
    position: relative;
    align-items: center;
}

a:link {
    display: none;
    font-size: 18px;
    color: #b3b3b3;
    text-decoration: none;
    top: 50%;
    left: 50%;
    padding-top: 15px;
}
/* hovering */
a:hover{
    font-style: italic;
    font-size: 24px;
}

.wrapper:hover button{
    border: 1px solid #f2f2f2;
    background-color: #b3b3b3;
    color: #f2f2f2;
}

.wrapper:hover  .dropdown_links{
    background-color: #f2f2f2;
}

.wrapper:hover  a {
    display: block;
}

.footer {
    grid-area: footer;
    border-top: 1px solid  #f2f2f2;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
    color: #f2f2f2;

}
