/* *{border: 1px solid red;} */

html, body{
    height: 100%;
    overflow: hidden;
}
#root{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

body{
    background-color: #a6a6a6;
    font-family: Poiret One,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "apps photo gd"
        "footer footer footer";
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
}

header {
    grid-area: header;
    display: grid;
    font-size: 36px;
    font-style: normal;
    line-height: 1.42857143;
    text-align: left;
    padding: 15px;
    color: #f2f2f2;
    /* border-bottom: 1px solid  #f2f2f2; */
    margin-bottom: 25px;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "button"
    "links";
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid  #bbb;
    /* border-top: 1px solid  #f2f2f2;
    border-bottom: 1px solid  #f2f2f2; */
} 

#photo {
    grid-area: photo;
}

#apps {
    grid-area: apps;
}

#gd {
    grid-area: gd;
}

button {
    grid-area: button;
    border: none;
    background-color:#f2f2f2;
    color: #a6a6a6;
    font-family: Poiret One,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 30px;
}

.dropdown_links {
    grid-row: links;
    display: grid;
    position: relative;
    align-content: center;
    overflow-y: scroll;
    scrollbar-color: red;
}

a {
    /* display: none; */
    display: list-item;
    font-size: 18px;
    /* color: #a6a6a6; */
    color: white;
    text-decoration: none;
    padding-top: 25px;
}
/*#region*/ /* hovering */
a:hover{
    font-size: 24px;
}

a:active {
    font-style: italic;
    color:#2a2a2a;
}
    /*#region*/ /* button hover and clicked button styles */
    .wrapper:hover .button{
        border: 1px solid #f2f2f2;
        background-color: #a6a6a6;
        color: #f2f2f2;
    }

    .wrapper:active .button{
        border: 1px solid #f2f2f2;
        background-color: #a6a6a6;
        color: #f2f2f2;
    }
    /*#endregion*/ 

    /*#region*/ /* section hover and clicked link background styles */
    .wrapper:hover  .dropdown_links{
        background-color: #2a2a2a;
    }

    .button:active  ~ .dropdown_links{
        background-color: #2a2a2a;
    }
    /*#endregion*/
    /*#region*/ /* section hover and clicked button link styles */
    .wrapper:hover  a {
        display: block;
        color: #a6a6a6;
    }

    .wrapper:active  a {
        display: block;
        color: #a6a6a6;
    }
    /*#endregion*/ 
/*#endregion*/

.footer {
    grid-area: footer;
    /* border-top: 1px solid  #f2f2f2; */
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
    color: #f2f2f2;

}
