/* *{border: 1px solid red;} */

/* #region *//*prevents page from moving*/
    html, body{
        height: 100%;
        overflow: hidden;
    }
    #root{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
/* #endregion *//* prevents page from moving*/

/* removes tabindex styles */
*[tabindex]:focus {
    outline: none;
} 

body{
    background-color: #a6a6a6;
    font-family: Poiret One,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "apps photo gd"
        "footer footer footer";
    grid-template-rows: 20vh 75vh 5vh;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
}

header {
    grid-area: header;
    display: grid;
    font-size: 5vmin;
    font-style: normal;
    line-height: 1.42857143;
    text-align: left;
    align-items: center;
    padding: 15px;
    color: #f2f2f2;
    margin: 0 10px 25px 10px;
    border-bottom: 1px solid #f2f2f2;
}

.btn_labels {
    display:none;
    position: absolute;
    font-family: Poiret One,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 5vh;
    line-height: 8vh;
    color: #f2f2f2;
    /*for centering image on safari browsers*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    margin: 0;
}
       
#photo {
    grid-area: photo;
}

#apps {
    grid-area: apps;
}

#gd {
    grid-area: gd;
}

img {
    width: 70%;
    position: absolute;
    align-self: center; /*for when button is active*/
    /*for centering image on safari browsers*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

button {
    display: grid;
    position:absolute;
    border: none;
    border-radius: 50%;
    width: 38%;
    height: auto;
    padding: 38%;
    margin-top: 10%;
    justify-items: center;
    align-items: center;
    background-color:#f2f2f2;
    box-shadow: 5px 5px 5px #2a2a2a;;
    pointer-events: auto;
}

.dropdown_links {
    grid-area: links;
    display: none;
    position: relative;
    width: 100%;
}

a {
    display: grid;
    font-size: 4vmin;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    align-items: center;
    line-height: 5vh;
    /* pointer-events: auto; */
}
/*#region*/ /* hovering */
    /*#region*/ /* button hover and click styles */

    /* selects parent on button focus - alters button styles */
    .wrapper:focus-within button { 
        opacity: 1.0;
        box-shadow: none;
        height: auto;
        text-align: center;
        margin-top: 0;
    }
    /* selects parent on button focus - alters link wrappper */
    .wrapper:focus-within .dropdown_links {
        display: grid;
    }
    /* alters img styles on button focus */
    button:focus img {
        opacity: 1.0;
    } 

        /*#region*//* hover styles */

            button:hover {
                border: 5px solid #f2f2f2;
                background-color: #a6a6a6;
                background-color: hsla(0, 0%, 95%, 40%); 
            }

            button:hover img{
                visibility: hidden;
            }

            button:hover h1 {
                display: block;
            }

            a:hover{
                color:#e65c00;
            }
            
            a:active a:visited{
                color:#2a2a2a;
            }
        /*#endregion*/
    /*#endregion*/

    /*#region*/ /* landscape */
    @media (orientation:landscape){

        .wrapper {
            display: grid;
            grid-template-areas: 
            "button";
            grid-template-rows: 100%;
            grid-template-columns: 33.33vw;
            position: relative;
            justify-items: center;
            margin-bottom: 10%;
        }
        
        button { 
            grid-area: button;
        }

    /* on focus */  

        /* selects and alters button parent on button focus */
        .wrapper:focus-within {
            display: grid;
            grid-template-areas: 
            "button"
            "links";
            grid-template-rows: 40% 60%;
            grid-template-columns: 33.33vw;
        }
        /* selects parent on button focus - alters button styles */
        .wrapper:focus-within button{ 
            width: 13vh;
            height: auto;
            padding: 13vh;
            align-items: baseline;
            /* to center on safari */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  
        }
        /* selects parent on button focus - alters link wrapper */
        .wrapper:focus-within .dropdown_links {
            grid-area: links;
            overflow: auto;
        }
    }
    /*#endregion*/

    /*#region*/ /* portrait */
    @media (orientation:portrait){

        #grid {
            display: grid;
            grid-template-areas:
                "header"
                "apps" 
                "photo" 
                "gd";
            grid-template-rows: 13vh 28vh 28vh 28vh;
            grid-template-columns: 100%;
        }

        .wrapper {
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 50vw 50vw;
            position: relative;
            justify-items: center;
            align-items: center;
        }

        button {
            display: grid;
            grid-column: 1 / 3;
            width: 13vh;
            height: auto;
            padding: 13vh;
            justify-self: center;
            margin-top: 0;
        }

        a{font-size: 4vh}

    /* on focus */

        #grid:focus-within button { 
            grid-column: 1/2;
            margin-left: 10%;
        }

        .wrapper:focus-within .dropdown_links {
            display: grid;
            grid-row: 1;
            grid-column: 2;
            align-items: center;
        }
        /* spacing links in portrait mode */
        .wrapper:focus-within .dropdown_links a {
            padding: 5%;
        }
    }

    /*#region*/ /* width queries */
    /* large to mid-width */
    @media screen and (min-width:674px) {
        
        header {font-size: 5vmin;}
    }

    /* mid to cellphone width */
    @media (max-width:673px) and (min-width:481px) {
        
        header {font-size: 5vh;}

        button{
            width: 13vh;
            height: auto;
            padding: 13vh;
        }

        a {font-size: 4vh;}
    }

    /* cellphone width and smaller */
    @media (max-width:480px) and (min-width:391px) {
        
        header {font-size: 5vh;}

    }

    /* thin cellphone */
    @media (max-width:390px) {
        
        #grid:focus-within button{
            width: 11vh;
            height: auto;
            padding: 11vh;
        }

        header {font-size: 8vw;}
    }
    /*#endregion*/ 

    /*#region*/ /* height queries */

    @media (max-height: 635px) and (max-width: 545px){

        #grid {
            display: grid;
            grid-template-areas:
                "header"
                "apps" 
                "photo" 
                "gd";
            grid-template-rows: 16vh 27vh 27vh 27vh;
            grid-template-columns: 100%;
        }
    }
    @media (max-height: 530px) and (max-width: 545px){

        button {
            width: 12vh;
            height:auto;
            padding: 12vh;
            align-items: center;
        }
        a {font-size: 4vw;}
    }

    /*#endregion*/

    /*#endregion*/
/*#endregion*/